* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background: rgb(48,48,46);
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    color: #ffffff;
}

#content {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(55, 55, 52, 0.2);
    border-radius: 1rem;
    border: solid 1px rgb(55, 55, 52);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s;
    background-color: #565869;
    color: white;
}

.button:hover {
    background-color: #6b6d7e;
}