* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #101010;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rust-text {
  background: -webkit-linear-gradient(56deg, rgba(255,100,0,1) 0%, rgba(253,170,29,1) 50%, rgba(252,205,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#links {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.links-box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.link-img {
  height: 40px;
  filter: invert(60%);
  cursor: pointer;
}

.link-img:hover {
  filter: invert(100%);
}
