name: github pages

on:
  push:
    branches:
      - master  # Set a branch to deploy
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      
      - name: Install pandoc
        run: sudo apt-get install pandoc
        
      - name: Generate files
        run: bash script.sh
        
      - name: Copy /public to /docs (for Github Pages)
        run: cp -r public docs
        
      - name: Update resources
        uses: test-room-7/action-update-file@v1
        with:
          file-path: |
            public/*
            docs/*
          commit-msg: Update resources
          github-token: ${{ secrets.GITHUB_TOKEN }}
